* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.img {
  background-image: url(https://edgroom-blogs.s3.ap-south-1.amazonaws.com/202310060626051881994_whatsapp_image_2023_10_05_at_7_57_44_pm.jpeg);
}
.word {
  color: rgba(255, 255, 255, 0.884);
  background-color: rgba(45, 86, 192, 0.873);
  font-style: ;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.grid-column {
  background-color: #86a6d9;
  color: white;
  padding: 1.5rem;
  border-radius: 0.375rem;
}

.column-2 {
  background-color: #86a6d9;
  color: rgb(255, 255, 255);
  padding: 1.5rem;
  border-radius: 0.375rem;
}
.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  background-color: #f9f9f9;
  background-color: #86a6d9;
}

.contact-form div {
  margin-bottom: 1rem;
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}
.wordo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: beige;
}
